{% extends 'base.html' %}
{% load static %}

{% block title %}
    Recover Password - Ticketmaven
{% endblock %}

{% block content %}

<!-- Page content -->
<section class="position-relative h-100 pt-5 pb-4">

    <!-- Recover password form -->
    <div class="container d-flex flex-wrap justify-content-center justify-content-xl-start h-100 pt-5">
        <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
            <h1 class="text-center text-xl-start">Recover Password</h1>
            <p class="text-center text-xl-start pb-3 mb-3">Enter your email address to recover your password.</p>
            <form class="needs-validation mb-2" novalidate>
                <div class="position-relative mb-4">
                    <label for="email" class="form-label fs-base">Email</label>
                    <input type="email" id="email" class="form-control form-control-lg" required>
                    <div class="invalid-feedback position-absolute start-0 top-100">Please enter a valid email address!</div>
                </div>
                <button type="submit" class="btn btn-primary shadow-primary btn-lg w-100">Recover Password</button>
            </form>
            <a href="{% url 'account:login' %}" class="btn btn-link btn-lg w-100">Back to Sign In</a>
        </div>

    </div>

    <!-- Background -->
    <div class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block" id="particles-js" ></div>
</section>

{% endblock %}
