<!-- terms_and_conditions.html -->
{% extends 'base.html' %}

{% block title %}
    Terms and Conditions - JBrands Logistics
{% endblock %}

{% block content %}
<div class="container d-flex flex-wrap justify-content-center justify-content-xl-start h-100 pt-5">
    <div class="row shadow mt-5">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="mt-5">Terms and Conditions</h1>
            <p class="lead">By using our ticket automation platform ("TicketMaven"), you agree to comply with the following terms and conditions:</p>
            <ol>
                <li><strong>Acceptance of Terms</strong>: By accessing or using TicketMaven, you agree to be bound by these Terms and Conditions and all applicable laws and regulations. If you do not agree with any of these terms, you are prohibited from using or accessing TicketMaven.</li>
                <li><strong>Use License</strong>: Permission is granted to temporarily download one copy of the materials (information or software) on TicketMaven's website for personal, non-commercial transitory viewing only.</li>
                <li><strong>Disclaimer</strong>: The materials on TicketMaven's website are provided on an 'as is' basis. TicketMaven makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
                <li><strong>Limitations</strong>: In no event shall TicketMaven or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use TicketMaven's website, even if TicketMaven or a TicketMaven authorized representative has been notified orally or in writing of the possibility of such damage.</li>
                <li><strong>Revisions and Errata</strong>: The materials appearing on TicketMaven's website could include technical, typographical, or photographic errors. TicketMaven does not warrant that any of the materials on its website are accurate, complete, or current.</li>
                <li><strong>Links</strong>: TicketMaven has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by TicketMaven of the site. Use of any such linked website is at the user's own risk.</li>
                <li><strong>Modifications</strong>: TicketMaven may revise these terms of service for its website at any time without notice. By using this website, you are agreeing to be bound by the then-current version of these Terms and Conditions.</li>
                <li><strong>Governing Law</strong>: These terms and conditions are governed by and construed in accordance with the laws of the United States and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</li>
            </ol>
            <p>For any questions regarding these Terms and Conditions, please contact us at <a href="mailto:info@ticketmaven.com">info@ticketmaven.com</a>.</p>
        </div>
    </div>
</div>

{% endblock %}
